html {
    height: 100%;
}

body {
    height: 100%;
}

#password {
    border-radius: 40px;
}

.marron {
    color: rgb(229, 198, 136);
}

.green {
    color: rgb(44, 70, 56);
}

.black {
    color: black;
}

.form {
       padding: 100px;
    border-radius: 10px;

}

.sendBtn {
    color: black;
    border: 2px solid rgb(44, 70, 56);
    padding: 10px;
    align-content: center;
}


.input {
    border-radius: 40px;
    border-bottom: 2px solid rgb(44, 70, 56);

}

body>img {
    width: 50%;
    height: fit-content;

}

.container {
    height: 100vh;
}

.text-right {
    margin-top: 20px;
}

.h3 {
    font-size: 40px;

}

.mainContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-image: url(../img/bgimg.jpg);
    background-size: cover;
}

.imageContainer {
    width: 70%;
    background-image: url(../img/bgimg.jpg);
    background-size: cover;
}
.box-connexion{
    display:flex ;

}
#login-box{
    align-self: center;
    height: 100%;

        #login-form{
            height: 100%;
        }
}