#password {
    border-radius: 40px;
}

.marron {
    color: rgb(229, 198, 136);
}

.green {
    color: rgb(44, 70, 56);
}

.black {
    color: black;
}

.form {
    border: 3px solid rgb(44, 70, 56);
    padding: 100px;
    border-radius: 10px;
}

.sendBtn {
    color: black;
    border: 2px solid rgb(44, 70, 56);
    padding: 10px;
    align-content: center;
}


.input{
    border-radius: 40px;
    border-bottom: 2px solid rgb(44, 70, 56);
    
}

body > img{
    width: 50%;
    height: fit-content;
 
}
.container{
    height: 100vh;
}
.text-right{
    margin-top: 20px;
}
.h3{
    font-size: 40px;

}
