{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	<link href="{{ asset('./contact_css/contact.css') }}" rel="stylesheet">
{% endblock %}

{% block script %}
	{{ parent() }}

	<script src="{{ asset('../../public/js/password.js') }}"></script>
{% endblock %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
	<div class="body_contact">
		<section class="contact_section">
			<div class="main">
				<div class="left">
					<div class="container_contact">
						<h2>Nos créations <br>Originales</h2>
						<div class="container_link">
							<a href="" class="container_link_a">
								<br></a>
							<a href="" class="container_link_a">
								<br></a>
							<a href="" class="container_link_a"></a>
						</div>
					</div>
					<div class="logo_link">

						<div class="main_reseau">
							<li class="content_reseau">
								<a href="#">
									<i class="fab fa-facebook-f icon"></i>
								</a>
							</li>
							<li class="content_reseau">
								<a href="#">
									<i class="fab fa-pinterest icon"></i>
								</a>
							</li>
							<li class="content_reseau">
								<a href="#">
									<i class="fab fa-instagram icon"></i>
								</a>
							</li>
							<li class="content_reseau">
								<a href="#">
									<i class="fab fa-tiktok icon"></i>
								</a>
							</li>
						</div>
					</div>
				</div>


				<form class="right flex-grow-1 d-flex align-items-start">
					<h2>Inscription</h2>
					<div class="w-75">

						<div class="mb-3">
							<label for="exampleInputEmail1" class="form-label sr-only"></label>
							<input type="name" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Pseudo">
						</div>

						<div class="mb-3">
							<label for="exampleInputEmail1" class="form-label sr-only"></label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adresse E-mail">
							<div id="emailHelp" class="form-text">Votre email ne sera jamais partagé.</div>
						</div>

						<div class="form-outline mb-3">
							<label class="form-label sr-only" for="typePhone"></label>
							<input type="password" id="typePhone" class="form-control" placeholder="Mot de passe"/>
						</div>
						<div class="form-outline mb-3">
							<label class="form-label sr-only" for="typePhone"></label>
							<input type="password" id="typePhone" class="form-control" placeholder="confirmer le mot de passe"/>
							<i class="bi bi-eye-slash" id="togglePassword"></i>
						</div>
						
						<button type="submit" class="btn btn-primary">Continue</button>
					</div>
					<div>
                        <div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							<label class="form-check-label" for="flexSwitchCheckDefault">J'accepte les condition d'utilisatoon</label>
						</div>
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							<label class="form-check-label" for="flexSwitchCheckDefault">Inscription à la newsletter.</label>
						</div>
					
					</div>

				</form>
			</div>
		</section>
	</div>
{% endblock %}
