header {
    margin: auto auto 10px;
    width: 70%;
}

.searchFilter {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    margin: auto;

}

.searchBar {
    margin: auto;
    width: 40%;
}

h1 {
    padding: 40px 0;
    font-family: 'cursive';
    font-size: 3rem;
    color: green;
}

.list {
    margin: auto;
    width: 70%;
}


.card-body {
    height: 200px;
}

header {
    width: 100%;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    padding-right: 15px;
    padding-bottom: 5px;
    color: green;
}

.saison {
    padding-left: 15px;
    padding-bottom: 5px;
    color: green;
    font-weight: bold;
}

.image:hover {
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0 5px 10px
}


.sortBtn {
    width: 100%;
    margin: 20px auto;
    
}

.btn-group {
    margin: 15px 5px;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

@media (max-width: 768px) {
    .list {
        width: 100%;
    }

    /* .btn-group {
        margin: 5px 2px;
    } */
}

@media (max-width: 576px) { 

    .sortBtn {
        width: 80%;
    }

    .searchBar {
        width: 100%;
    }

    .btn-group {
        margin: 10px 5px;
        }
 }

 .pagination {
    --bs-pagination-color: #198754;
    --bs-pagination-active-bg : #198754;
    --bs-pagination-active-border-color: #198754;
 }

 .navigation {
    display: flex;
    justify-content: center;
 }