$textColor: #edfcd9;
$bgColor: #edfcd9;
$btnColor: #58cc73;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_reseau {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .main_reseau li {
    list-style: none;
    
  }
  
.main_reseau li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
  ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  ul li a:hover:before {
    top: 0;
  }
  
  ul li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  ul li:nth-child(2) a:before{
    background: #55acee;
  }
  
  ul li:nth-child(3) a:before {
    background: #0077b5;
  }
  
  ul li:nth-child(4) a:before {
    background: #dd4b39;
  }

.contact_section {

    main {
        display: flex;
        margin: auto;
        width: 80%;
        padding: 80px 0px;

        .left {
            background-image: url(https://cdn.discordapp.com/attachments/1049380210514067467/1083345855718887506/fond3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50px 0 0 50px;
            display: flex;
            gap: 40px;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            
            .container_contact {
                background: #00000082;
                backdrop-filter: blur(4px);
                padding: 50px;
                justify-content: space-between;
            }
            .container_link{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            & img {
                height: 25vh;
            }
            & h2 {
                color: white;
               
            }
            a {
                color: white;
                text-decoration: none;
            }
            a:hover {
                border-bottom: 1px solid green;
                
            }
            
        }

        & .right {
            background: $bgColor;
            filter: saturate(0.7);
            padding: 25px;
            border-radius: 10px;

            & .name {
                display: flex;
                align-items: center;
            }

            & .form-text {
                color: blue;
            }

            & .btn-primary {
                color: $bgColor;
                margin: auto;
                width: 100%;
                text-align: center;
                border: none;


                &:hover {
                    background: $btnColor;
                    color: $textColor;
                    box-shadow: 0px 3px 22px 10px rgba(0,0,0,0.19);
                    transition: .2s;
                }
            }


        }
    }
}