* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contact_section .main {
  display: flex;
  height: 100vh;
}
.contact_section .main .left, .contact_section .main .right {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .contact_section .main {
    display: flex;
    flex-direction: column;
  }
  .contact_section .main .left, .contact_section .main .right {
    width: 100%;
  }
}
.contact_section .main .left {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact_section .main .left.left_login {
  background-image: url("https://cdn.pixabay.com/photo/2015/05/31/13/02/salad-791643_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact_section .main .left.left_subsribed {
  background-image: url("https://cdn.pixabay.com/photo/2015/05/31/13/02/salad-791643_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact_section .main .left.contact_left {
  background-image: url("https://cdn.discordapp.com/attachments/1049380210514067467/1083345855718887506/fond3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  .contact_section .main .left {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.contact_section .main .left .container_contact {
  background: rgba(0, 0, 0, 0.5098039216);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 50px;
  justify-content: space-between;
}
.contact_section .main .left .container_contact.contain_sub {
  display: flex;
}
.contact_section .main .left .container_contact h2 {
  text-align: center;
}
.contact_section .main .left .contain_Auth {
  display: flex;
}
.contact_section .main .left .container_link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact_section .main .left img {
  height: 25vh;
}
.contact_section .main .left h2 {
  color: white;
}
.contact_section .main .left .container_link_a {
  color: white;
  text-decoration: none;
}
.contact_section .main .left .container_link_a:hover {
  -webkit-text-decoration: underline 2px green;
          text-decoration: underline 2px green;
  text-underline-offset: 8px;
}
.contact_section .main .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f3f3f3;
  filter: saturate(0.7);
  padding: 35px 25px;
}
.contact_section .main .right .name {
  display: flex;
  align-items: center;
}
.contact_section .main .right .form-text {
  color: green;
}
.contact_section .main .right .btn-primary {
  background-color: green;
  color: #f3f3f3;
  margin: auto;
  width: 100%;
  text-align: center;
  border: none;
  transition: 0.3s;
}
.contact_section .main .right .btn-primary:hover {
  color: green;
  background-color: #fff;
  transition: 0.2s;
  box-shadow: 0px 3px 22px 10px rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}
.contact_section .main .right .subBtn {
  width: 75%;
  margin: 15px;
}
.contact_section .main .right .subBtn .form-check {
  margin: 10px 0;
}

.main_reseau {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main_reseau li {
  list-style: none;
}

.main_reseau li a {
  width: 60px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  margin: 0 10px;
  display: block;
  border-radius: 15%;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
  z-index: 1;
}

.main_reseau li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.main_reseau li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.main_reseau li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.main_reseau li a:hover:before {
  top: 0;
}

.main_reseau li:nth-child(1) a:before {
  background: #3b5999;
}

.main_reseau li:nth-child(2) a:before {
  background: red;
}

.main_reseau li:nth-child(3) a:before {
  background: violet;
}

.main_reseau li:nth-child(4) a:before {
  background: black;
}

.contact_section .main {
  display: flex;
  height: 100vh;
}
.contact_section .main .left, .contact_section .main .right {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .contact_section .main {
    display: flex;
    flex-direction: column;
  }
  .contact_section .main .left, .contact_section .main .right {
    width: 100%;
  }
}
.contact_section .main .left {
  background-image: url("https://cdn.pixabay.com/photo/2015/05/31/13/02/salad-791643_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .contact_section .main .left {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.contact_section .main .left .container_contact {
  background: rgba(0, 0, 0, 0.5098039216);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 50px;
  justify-content: space-between;
}
.contact_section .main .left .container_contact h2 {
  text-align: center;
}
.contact_section .main .left .container_link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact_section .main .left img {
  height: 25vh;
}
.contact_section .main .left h2 {
  color: white;
}
.contact_section .main .left .container_link_a {
  color: white;
  text-decoration: none;
}
.contact_section .main .left .container_link_a:hover {
  -webkit-text-decoration: underline 2px green;
          text-decoration: underline 2px green;
  text-underline-offset: 8px;
}
.contact_section .main .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f3f3f3;
  filter: saturate(0.7);
  padding: 35px 25px;
}
.contact_section .main .right .name {
  display: flex;
  align-items: center;
}
.contact_section .main .right .form-text {
  color: green;
}
.contact_section .main .right .btn-primary {
  background-color: green;
  color: #f3f3f3;
  margin: auto;
  width: 100%;
  text-align: center;
  border: none;
  transition: 0.3s;
}
.contact_section .main .right .btn-primary:hover {
  color: green;
  background-color: #fff;
  transition: 0.2s;
  box-shadow: 0px 3px 22px 10px rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}

#show, #hide {
  float: right;
  cursor: pointer;
}/*# sourceMappingURL=contact.css.map */