$textColor: #edfcd9;
$bgColor: #f3f3f3;
$btnColor: #f3f3f3;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_reseau {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main_reseau li {
    list-style: none;

}

.main_reseau li a {
    width: 60px;
    height: 60px;
    background-color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    margin: 0 10px;
    display: block;
    border-radius: 15%;
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
    z-index: 1;
}

.main_reseau li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.main_reseau li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.main_reseau li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.main_reseau li a:hover:before {
    top: 0;
}

.main_reseau li:nth-child(1) a:before {
    background: #3b5999;
}

.main_reseau li:nth-child(2) a:before {
    background: #55acee;
}

.main_reseau li:nth-child(3) a:before {
    background: #0077b5;
}

.main_reseau li:nth-child(4) a:before {
    background: #dd4b39;
}

.contact_section {

    main {
        display: flex;
        margin: auto;
        width: 80%;
        height: 95vh;
        padding: 80px 0px;

        .left {
            background-image: url(https://cdn.discordapp.com/attachments/1049380210514067467/1083345855718887506/fond3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50px 0 0 50px;
            display: flex;
            gap: 40px;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .container_contact {
                background: #00000082;
                backdrop-filter: blur(4px);
                padding: 50px;
                justify-content: space-between;
            }

            .container_link {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            & img {
                height: 25vh;
            }

            & h2 {
                color: white;

            }

            .container_link_a {
                color: white;
                text-decoration: none;
            }

            .container_link_a:hover {
                text-decoration: underline 2px green;
                text-underline-offset: 8px;
            }

        }

        & .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: $bgColor;
            filter: saturate(0.7);
            padding: 35px 25px;
            border-radius: 0 50px 50px 0;


            & .name {
                display: flex;
                align-items: center;
            }

            & .form-text {
                color: green;
            }

            & .btn-primary {
                background-color: green;
                color: $bgColor;
                margin: auto;
                width: 100%;
                text-align: center;
                border: none;
                transition: .3s;

                &:hover {
                    color: green;
                    background-color: #fff;
                    transition: .2s;
                    box-shadow: 0px 3px 22px 10px rgba(0, 0, 0, 0.19);
                    transition: .2s;
                }
            }


        }
    }
}