body {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
}

.connexion_menu {
    display: none;
}

.navbar-brand {
    font-size: 30px;
    color: #2d4739;
}

.navbar-brand:hover{
    font-size: 30px;
    color: #2d4739bd;
}

.btn-outline-primary {
    color: success;
}

.navbar-toggler {
    border: none;
}

.material-symbols-outlined {
    display: flex;
    justify-content: end;
}

.social_media {
    display: inline;
}

.footer_social_media {
text-align: center;
}

.logo {
    display: flex;
    text-align: center;
}

.logo {
    display: flex;
}


@media screen and (max-width: 576px){
    .connexion {
        display: none;
    }

    .connexion_menu {
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 100px;
    }
    
    #search {
        display: none;
    }
}
