@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";

.sizeImage
{
    height: 150px;
}

@include media-breakpoint-down(md) {
    .ingredients {
        &--tab-switcher {
            display: none;
        }
        &--image-tab.show {
            display: none !important;
        }
        &--compact-tab:not(.show) {
            display: block;
            opacity: 1;
        }
    }
}

.ingredient-list {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5rem;

    &--item {
        padding: 0.25rem 0.5rem;
        border: 1px solid gray;
    }
}