{% extends 'base.html.twig' %}

{% block title %}Edit recipe
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col col-md-5 mx-auto">

			<h1>Edit recipe</h1>

			{{ include('ingredient/_form.html.twig', {'button_label': 'Update'}) }}
			<div class="" id="some-custom-id">
				{{ include('recipe/_delete_form.html.twig') }}
				<a href="{{ path('app_recipe_index') }}">back to list</a>
			    </div>
		    </div>

	    </div>
	{{ form_end(form) }}
{% endblock %}