{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	<link href="{{ asset('./contact_css/contact.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<body class="body_contact">
	<section class="contact_section">
		<main>
			<div class="container left">
				<div class="container_contact">
					<h2>Ou nous trouver</h2>
					 <div class="container_link">
					    <a href="">Chemin Des pommiers, 30100 Alès <br></a>
					    <a href="">0007898787665 <br></a>
					    <a href="">mets4saisons@test.com</a>
					</div>
				</div>
		    <div class="logo_link">
			
				<div class="main_reseau">
        			<li class="content_reseau">
         	 			<a href="#">
        			    <i class="fab fa-facebook-f icon"></i></a>
        		    </li>
        		    <li class="content_reseau">
          		        <a href="#"><i class="fab fa-twitter icon"></i></a>
       		 	    </li>
        		    <li class="content_reseau">
        	            <a href="#"><i class="fab fa-linkedin-in icon"></i></a></li>
       	 		    <li class="content_reseau">
          		        <a href="#"><i class="fab fa-google-plus-g icon"></i></a></li>
    			</div>
			</div>
			</div>


			<form class="container right">
				<div>
					<div class="mb-3 name">
						<label for="lastName" class="name-label">Nom</label>
						 <input type="name" class="form-control" id="lastNameInput" aria-describedby="lastNameHelp">
						 <label for="firstName" class="name-label">Prénom</label>
						<input type="name" class="form-control" id="firstNameInput" aria-describedby="firstNameHelp">
					</div>

					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Adresse e-mail</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
						<div id="emailHelp" class="form-text">Votre email ne sera jamais partagé.</div>
					</div>

					<div class="form-outline">
						<label class="form-label" for="typePhone">Numéro de téléphone</label>
						<input type="tel" id="typePhone" class="form-control"/>
					</div>

					<div class="mb-3">
						<label for="exampleFormControlTextarea1" class="form-label">Ecrivez votre texte</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					</div>

					<div class="mb-3 form-check">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
					</div>
					<button type="submit" class="btn btn-primary">Envoyer</button>
				</div>

			</form>
		</main>
	</section>
	</body>
{% endblock %}
