
<nav class="navbar" style="background-color: #edfcd9;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class"logo_nom">
    <a class="navbar-brand fw-bold" href="{{path("app_home")}}">Mets 4 Saisons</a>
  </div>

    <form class="d-none d-lg-flex search" role="search" id="search">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
        <button class="btn" type="submit"><span class="material-symbols-outlined">search</span></button>
    </form>

    <div class="connexion">
        <button class="btn btn-outline-success rounded-pill mx-1" type="button">Connexion</button>
        <button class="btn btn-outline-success rounded-pill mx-1" type="button">Inscription</button>
    </div>

    <div class="offcanvas offcanvas-start text-bg-white" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel" style="color: #2d4739;">Mets 4 Saisons</h5>
        <button type="button" class="btn-close btn-close-" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>


<div class="offcanvas-body" style="background-color: #edfcd9;">

        <div class="connexion_menu mt-3">
                <button class="btn btn-outline-success rounded-pill mx-1" type="button">Connexion</button>
                <button class="btn btn-outline-success rounded-pill mx-1" type="button">Inscription</button>
        </div>

        <form class="d-flex d-lg-none mt-4" role="search" id="search">
          <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
          <button class="btn" type="submit"><span class="material-symbols-outlined">search</span></button>
        </form>

        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active mt-5" aria-current="page" href="{{path("app_home")}}" style="color: #2d4739;">Accueil</a>
          </li>

          <li class="nav-item dropdown" style="background-color: #edfcd9;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #2d4739;">
              Les recettes
            </a>
            <ul class="dropdown-menu dropdown-menu-white">
              <li><a class="dropdown-item" href="#" style="color: #2d4739;">Par catégorie</a></li>
              <li><a class="dropdown-item" href="#" style="color: #2d4739;">Par saison</a></li>
              <li><a class="dropdown-item" href="#" style="color: #2d4739;">Salée</a></li>
              <li><a class="dropdown-item" href="#" style="color: #2d4739;">Sucrée</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#" style="color: #2d4739;">Les newsletter</a></li>
            </ul>
            

            <li class="nav-item">
              <a class="nav-link" href="#" style="color: #2d4739;">Contact</a>
            </li>
          </li>
        </ul>
        <p class="mt-5" style="color: #2d4739;">Rejoignez-nous sur nos réseaux :</p>
        <div class="social_media d-flex gap-3">
            <span style="font-size: 1.5em; color: #2d4739;">
              <i class="fa-brands fa-facebook"></i>
            </span>
            <span style="font-size: 1.5em; color: #2d4739;">
              <i class="fa-brands fa-instagram"></i>
            </span>
            <span style="font-size: 1.5em; color: #2d4739;">
              <i class="fa-brands fa-twitter"></i>
            </span>
            <span style="font-size: 1.5em; color: #2d4739;">
              <i class="fa-brands fa-pinterest"></i>
            </span>
        </div>
      </div>
    </div>
  </div>
</nav>