{{ form_start(form, {'attr': {'class': 'container'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-success"><i class="fa-solid fa-pen me-2"></i>{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
