{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="container p-5">

    <div class="card shadow-lg">
        <div class="card-body p-0">
            <h3 class="card-title bg-success text-white p-3">Nouvel utilisateur</h3>
            <div class="p-3">
                {{ include('user/_form.html.twig') }}
            </div>
        </div>
    </div>

    <a class="btn btn-success m-3" href="{{ path('app_user_index') }}">back to list</a>
</div>
{% endblock %}